<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Test Papers</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="heading mt-5">
        <h1>Let's Analyze</h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" id="uploadForm">
                    <!-- {% csrf_token %} -->
                    <!-- <label for="fileInput" class="form-label">Choose File Type</label><br> -->
                    <!-- <div class="form-check"> -->
                        <!-- <input class="form-check-input" type="radio" name="fileType" id="radioTestPaper" value="test_papers" checked> -->
                        <!-- <label class="form-check-label" for="radioTestPaper"> -->
                            <!-- Test Paper -->
                        <!-- </label> -->
                    <!-- </div> -->
                    <!-- <div class="form-check"> -->
                        <!-- <input class="form-check-input" type="radio" name="fileType" id="radioAnswerKey" value="answer_key"> -->
                        <!-- <label class="form-check-label" for="radioAnswerKey"> -->
                            <!-- Answer Key -->
                        <!-- </label> -->
                    <!-- </div> -->
                    <div class="mt-3">
                        <div class="upload_div mb-3">
                            <div class="tp_label">
                                <label>Upload Test Papers</label>
                            </div>
                            <div class="file-upload-area mb-3">
                                <div class="file-upload" id="test-file">
                                    <img src="upload_icon.png" alt="Upload Icon" class="upload-icon">
                                </div>
                                <div class="cam-upload" id="test-cam">
                                    <img src="cam_icon.png" alt="Camera Icon" class="cam-upload-icon">
                                </div>
                            </div>
                            <input type="file" class="form-control" id="fileInput" name="test_papers" multiple accept="image/*">
                        </div>
                        <div id="TestImagePreview" class="ImagePreview mb-3"></div>

                        <div class="upload_div mb-3">
                            <div class="tp_label">
                                <label>Upload Answer Key</label>
                            </div>
                            <div class="file-upload-area mb-3">
                                <div class="file-upload" id="answer-file">
                                    <img src="upload_icon.png" alt="Upload Icon" class="upload-icon">
                                </div>
                                <div class="cam-upload" id="answer-cam">
                                    <img src="cam_icon.png" alt="Camera Icon" class="cam-upload-icon">
                                </div>
                            </div>
                            <input type="file" class="form-control" id="answerKeyInput" name="answer_key" multiple accept="image/*">
                        </div>
                        <div id="AnswerImagePreview" class="ImagePreview mb-3"></div>
                        <!-- <div class="selected-key" id="selectedKey">Please select a file type</div> -->

                    </div>
                    <label class="notelabel">NOTE: Please upload both the Test Paper and Answer Key</label>
                    <button type="submit" id="AnalyzeBtn" class="btn btn-success" disabled>
                        <i class="fas me-2"></i>Analyze
                    </button>
                </form>
            </div>
        </div>
        <!-- <div id="PreviewCard" class="PreviewCard">
            <div class="image-container-heading">
                <label class="upload-label">Uploaded Documents</label>
            </div>
            <div id="imagePreview" class="mb-3"></div>
        </div> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script>
        // const radioTestPaper = document.getElementById('radioTestPaper');
        // const radioAnswerKey = document.getElementById('radioAnswerKey');
        const fileInput = document.getElementById('fileInput');
        const answerKeyInput = document.getElementById('answerKeyInput');
        const TestFile = document.getElementById('test-file');
        const TestCam = document.getElementById('test-cam');
        const AnswerFile = document.getElementById('answer-file');
        const AnswerCam = document.getElementById('answer-cam');
        // const selectedKeyDiv = document.getElementById('selectedKey');

    //     // Function to update file input based on selected radio button
    //     function updateFileInput() {
    //     if (radioTestPaper.checked) {
    //         fileInput.click();
    //         // fileInput.setAttribute('name', 'test_papers');  // Update name to 'test_papers'
    //         selectedKeyDiv.innerText = 'Upload your Test Paper';  // Update displayed key
    //     } else if (radioAnswerKey.checked) {
    //         answerKeyInput.click();
    //         // fileInput.setAttribute('name', 'answer_key');   // Update name to 'answer_key'
    //         selectedKeyDiv.innerText = 'Upload your Answer Key';  // Update displayed key
    //     }
    // }

        // Initial update based on the default checked option
        // updateFileInput();

        // Add event listeners to radio buttons to dynamically update the file input
        // radioTestPaper.addEventListener('change', updateFileInput);
        // radioAnswerKey.addEventListener('change', updateFileInput);

        TestFile.addEventListener('click', function() {
            fileInput.removeAttribute('capture');
            fileInput.click()
        });

        TestCam.addEventListener('click', function() {
            fileInput.setAttribute('capture', 'environment');
            fileInput.click()
        });
        
        AnswerFile.addEventListener('click', function() {
            answerKeyInput.removeAttribute('capture');
            answerKeyInput.click()
        });

        AnswerCam.addEventListener('click', function() {
            answerKeyInput.setAttribute('capture', 'environment');
            answerKeyInput.click()
        });  

        let TestFilesList = [];

        function handleTestFileInputChange(event) {
            var preview = document.getElementById('TestImagePreview');

            for (var i = 0; i < event.target.files.length; i++) {
                var file = event.target.files[i];
                if (!file.type.startsWith('image/')) { continue; }

                TestFilesList.push(file);

                var img = document.createElement('img');
                img.classList.add('img-thumbnail', 'm-1');
                img.file = file;

                preview.appendChild(img);

                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
            }
            toggleButtonState();
        }

        let AnswerFilesList = [];

        function handleAnswerFileInputChange(event) {
            var preview = document.getElementById('AnswerImagePreview');

            for (var i = 0; i < event.target.files.length; i++) {
                var file = event.target.files[i];
                if (!file.type.startsWith('image/')) { continue; }

                AnswerFilesList.push(file);

                var img = document.createElement('img');
                img.classList.add('img-thumbnail', 'm-1');
                img.file = file;

                preview.appendChild(img);

                var reader = new FileReader();
                reader.onload = (function (aImg) {
                    return function (e) {
                        aImg.src = e.target.result;
                    };
                })(img);
                reader.readAsDataURL(file);
            }
            toggleButtonState();
        }

        document.getElementById('fileInput').addEventListener('change', handleTestFileInputChange);
        document.getElementById('answerKeyInput').addEventListener('change', handleAnswerFileInputChange);

        // Add responsive behavior for sidebar if needed
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar-wrapper');
            sidebar.classList.toggle('active');
        }

        function toggleButtonState() {
            if (TestFilesList.length > 0 && AnswerFilesList.length > 0) {
                document.getElementById('AnalyzeBtn').disabled = false;
            } else {
                document.getElementById('AnalyzeBtn').disabled = true;
            }
        }

    </script>
</body>
</html>
